* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    outline: 1px solid red;
    text-align: center;
}

section {
    margin: 20px auto;
    width: 500px;
}

.intro {
    margin: 20px auto;
    width: 500px;
}

li {
    margin: 10px auto;
    max-width: 500px;
    text-align: left;
}

img {
    display: block;
}

.chicken {
    width: 512px;
    height: 512px;
    margin: 0 auto;
}

a {
    display: block
}


button {
    background-color: #f4a261;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
}

  .action-buttons p{
    display: inline-block;
    margin-right: 10px
  }

  .nutrition-buttons p{
    display: inline-block;
  }

.chicken-example img{
    margin-top: 10px;
    display: inline;
    width: 98.5px;
    height: 100px;
  }